h1, p, table img {
    margin-top: 10px;
    padding: 5px;
}

table img {
    width: 100px;
    border: 2px solid white;
}

table img:hover {
    border: 2px solid black;
}

.results {
    border: 2px solid black;
    padding: 2%;
    text-align: left;
}

.page {
    display: flex;
    gap: 5rem;
}

/* For smaller screens */
@media (max-width: 950px) {
    .page {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}